/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Media Queries


/* #Site Styles
================================================== */
body {
	background-color: #272822;
}

/* individual cell style */
.cell {
	height: 30px;
	margin-top: 10px;
}

/* cell colors */

.color1 {
	background-color: #A3BF27;
}

.color2 {
	background-color: #AA9DCB;
}

.color3 {
	background-color: #FEE447;
}

.color4 {
	background-color: #586D5C;
}

.color5 {
	background-color: #A3BF27;
}

.color6 {
	background-color: #64767A;
}

.color7 {
	background-color: #FF0030;
}

.color7 {
	background-color: #FF222B;
}

.color8 {
	background-color: #746733;
}

.color9 {
	background-color: #FEF452;
}

.color10 {
	background-color: #0D1019;
}

.color11 {
	background-color: #B6C791;
}

.color12 {
	background-color: #7AD0E2;
}

.color13 {
	background-color: #1B2D40;
}

.color14 {
	background-color: #A3BF27;
}

.color15 {
	background-color: #FA9A67;
}

.color16 {
	background-color: #FF9C36;
}

.color17 {
	background-color: #BEFE7F;
}

.color18 {
	background-color: #3D31F4;
}

.color19 {
	background-color: #D1FFEE;
}

.color20 {
	background-color: #3F3B0D;
}

.color20 {
	background-color: #CD23F5;
}

.color21 {
	background-color: #D7551F;
}

.color22 {
	background-color: #C24045;
}

.color23 {
	background-color: #C6FFF5;
}

.color23 {
	background-color: #2428B6;
}

.color24 {
	background-color: #E4FC82;
}

.color25 {
	background-color: #91276B;
}

.color26 {
	background-color: #776C24;
}

.color27 {
	background-color: #90FE79;
}

.color28 {
	background-color: #692724;
}

.color29 {
	background-color: #F9276C;
}

.color30 {
	background-color: #7F74F6;
}

.color30 {
	background-color: #4A572F;
}

.color31 {
	background-color: #5E5B40;
}

.color32 {
	background-color: #4990C8;
}

.color33 {
	background-color: #E4E4E4;
}

/* large red banner */

.cell_large {
	height: 400px;
	margin-top: 10px;
	background: #FF0030 url('../images/GA_logo3.jpg') no-repeat bottom right;
}

div.sixteen.columns.cell_large.stretchRight > h2, h1 {
		padding-top: 5px;
		margin-left: -75px;
	}

.cell_large h1 {
	color: #fff;
	font-size: 70px;
	letter-spacing: 20px;
	line-height: 60px;
	margin-top: 25px;
}

.cell_large h2 {
	color: #fff;
	font-size: 40px;
	letter-spacing: 10px;
	line-height: 10px;
	margin-top: 35px;
}

/* general styles */

.extra_margin {
	margin-top: 10px;
}


p {
	margin-left: 12px;
	font-size: 16px;
}

h2 {
	margin-top: 10px;
}

/* student names list */

a {
	text-decoration: none;
}

h4 {
	color: white;
	margin-top: -15px;
	padding-left: 20px;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
}

h4.alt_color {
	color: #B6C791;
}

h4.alt_color2 {
	color: #7AD0E2;
}


a:hover > h4 {
	color: #A6E22D;
	background-color: none;
	text-transform: uppercase;
}

/* class photos section */

.class-photo {
/*	margin-left: 5px;*/
}

.student-area {
	background-color: #fff;
	height: 410px;

}

.student-name > h1 {
		padding: 20px 0 0 0;
		color: #7AD0E2;
}

.student-website {
	padding-left: 3px;
	margin-top: -45px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.student-website > a {
	color: #7AD0E2;
}

.student-website > a:hover {
	color: #D7551F;
}

/* email github twitter linked in */

.contact a {
	padding: 5px 14px 5px 10px;
	margin-top: 10px;
	color: #A3BF27;
	background-color: #E4E4E4;
}

.contact a:hover {
	color: #D7551F;
}

.student-bio {
		padding: 5px 8px 0 0;
		color: #A3BF27;
		clear: right;
}

a:hover > h5 {
		color: #A3BF27;
}

.student-text > h3 {
		padding-right: 5px;
		color: #A3BF27;
}


/* projects section */

.move-left {
	padding-left: 10px;
}

.app-image {
	width: 280px;
	float: left;
}

.projects-section > div > div > h3 {
	margin-top: 1px;
	padding-left: 0px;
}

.projects-section > div > div > p {
	font-size: 14px;
	margin-top: -5px;
}

.projects-section > div > div > h3 > a:hover {
	color: #272822;
}

.projects-section > div > div > h3 > a {
	color: #D7551F;
}

div.sixteen.columns.color33.projects-section > div:nth-child(4) > div:nth-child(1) > p {
	width: 200px;
}

div.sixteen.columns.color33.projects-section > div > div > p > a:hover {
	color: #D7551F;
}



.footer {
	padding: 20px 0 20px 0;
}

.footer > h4 {
	color: #C8C8C8;
}

.footer > h4 > a {
	color: #fff;
	letter-spacing: 2px;
}

.footer > h4 > a:hover {
	color: #272822;
}


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {

	#row3, #row6 {
		display: none;
	}

	.cell_large {
  	height: 380px;
		background-size: 20%;
	}

	.cell_large h2 {
		font-size: 35px;
		letter-spacing: 10px;
		line-height: 5px;
		margin-top: 35px;
	}

	div.sixteen.columns.cell_large.stretchRight {
		padding-top: 15px;
	}

	div.sixteen.columns.cell_large.stretchRight > h2, h1 {
		margin-left: -50px;
	}

	div.sixteen.columns.cell_large.stretchRight > h1 {
		font-size: 50px;
		letter-spacing: 20px;
		line-height: 60px;
		margin-top: 25px;
  }

  div.four.columns.extra_margin > h3 {
		font-size: 22px;
		margin-left: 0px;
	}

	div.four.columns.extra_margin > ul {
		margin: 2px 0 0 -25px;
	}

	div.four.columns.extra_margin > ul > li > a > h4 {
		font-size: 14px;
		line-height: 28px;
	}

	div.sixteen.columns.color33.projects-section > div.row.extra_margin  img {
		margin-right: 5px;
		width: 200px;
	}

	div.sixteen.columns.color33.projects-section > div.row.extra_margin  p {
		margin-right: 5px;
		width: 200px;
	}

	div.twelve.columns > h3 {
		margin-left: 8px;
		font-size: 25px;
	}

	div.twelve.columns img {
		width: 540px;
		margin: 10px -10px 0 15px;
		}

	.footer > h4 {
		font-size: 14px;
	}

	} /*end*/

	/* Smaller than standard 820 (devices and browsers) */
	@media only screen and (max-width: 820px) {

	#row2, #row3, #row5, #row6 {
		display: none;
	}

	div.sixteen.columns.cell_large.stretchRight > h2, h1 {
		margin-left: -90px;
	}



	} /*end*/

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {


	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {

		#row, #row2, #row3, #row4, #row5, #row6 {
			display: none;
		}

		.cell_large {
			height: 250px;
			background-size: 17%;
		}

		.cell_large h2 {
			font-size: 30px;
			line-height: 15px;
			margin-top: 5px;
		}

		div.sixteen.columns.cell_large {
			width: 700px;
			margin-left: -140px;
		}

		div.sixteen.columns.cell_large.stretchRight > h2, h1 {
			margin-top: 0px;
			margin-left: 60px;
		}

		div.sixteen.columns.cell_large.stretchRight > h1 {
			letter-spacing: 2px;
			margin-top: 10px
		}

		.extra_margin {
			margin-top: 0px;
		}

		div.four.columns.extra_margin {
			width: 140px;
			margin-left: -140px;
		}

		div.four.columns.extra_margin > h3 {
			font-size: 18px;
			margin-bottom: 0px;
		}

		div.four.columns.extra_margin > ul > li > a > h4 {
			font-size: 12px;
			line-height: 25px;
		}

		.container .twelve.columns {
			width: 550px;
			margin: 12px;
		}

		div.twelve.columns > h2 {
			margin-left: 0px;
			font-size: 25px;
			line-height: 35px;
		}

		div.twelve.columns > h3 {
			margin-left: 0px;
			font-size: 20px;
		}

		div.twelve.columns > h2, h3 {
		/*	width: 520px;*/
		}

		div.twelve.columns img {
			width: 540px;
			margin-left: 0px;
		}

		.container .sixteen.columns {
			width: 700px;
			margin-left: -140px;
		}

		div.sixteen.columns.color33.projects-section > div > div {
			width: 205px;
			margin-right: 15px;
		}

		.footer > h4 {
		font-size: 12px;
		}


	} /*end*/

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {

	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {



		.cell_large {
			height: 180px;
/*			background-size: 17%;*/
		}

		.cell_large h2 {
			font-size: 16px;
			line-height: 5px;
			margin-left: -30px;
		}

		div.sixteen.columns.cell_large {
			width: 320px;
			margin-left: 0px;
		}

		div.sixteen.columns.cell_large.stretchRight > h2, h1 {
		margin-left: 20px;
		}

		div.sixteen.columns.cell_large.stretchRight > h2 {
		font-size: 20px;
		letter-spacing: 5px;
		}

		div.sixteen.columns.cell_large.stretchRight > h1 {
		font-size: 25px;
		letter-spacing: 10px;
		line-height: 25px;
		margin-top: 15px;
  	}

  	.four.columns {
  		display: none;
  	}

  	.container .twelve.columns {
			width: 300px;
		}

		div.twelve.columns > h2 {
			margin-left: 0px;
			font-size: 20px;
			line-height: 25px;
		}

		div.twelve.columns > h3 {
			margin-left: 0px;
			font-size: 17px;
			line-height: 22px;
		}

		div.twelve.columns img {
			width: 319px;
			margin-left: -10px
		}

		.container .sixteen.columns {
			width: 320px;
			margin-left: -37px;
		}

		.meet-students > h2 {
			font-size: 25px;
		}

		div.sixteen.columns.color33.projects-section > div:nth-child(1) > div:nth-child(1) > a > img{
			margin-top: 10px;
		}

		div.sixteen.columns.color33.projects-section > div.row.extra_margin  img {
			margin-right: 5px;
			width: 300px;
		}

		.container {
			margin-left: 40px;
		}


	} /*end*/

